.App-header {
  text-align: center;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Mitr', sans-serif;
  -webkit-overflow-scrolling: touch;
  align-items: center;
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
}

html {
  
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

.Header {
  background-color: rgba(250, 250, 250, 0.5);
  width: 100vw;
  height: 65px;
  position: fixed;
  z-index: 100;
  font-family: 'Mitr', sans-serif;
}

.out {
  background-color: rgba(250, 250, 250, 0.95);
}

.HeaderContainer {
  padding-left:181.25px;
  height: 100%;
  position: relative;
}

.logoHeader {
  height: 120px;
  left: 60px;
  position: absolute;
}

.OptionContainer {
  width: auto;
  height: 100%;
  display: inline-block;
  overflow: hidden;
}

.Option {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  line-height: 65px;
  padding: 0px 20px;
  height: 100%;
  color: rgb(41, 41, 41);
}

.Option:hover {
  color: rgb(164,158,93);
  cursor: pointer;
}

/* Carousel */
.CarouselContainer {
  width: 100vw;
  overflow: hidden;
}

.imageContainer {
  width: 300vw;
  transition: transform 2s ease-in-out;
}

.Carousel {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* background-color: black; */
}

.CarouselImage {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

/* Information */
.Container {
  display: inline-block;
  height: calc(100vh - 65px);
  max-width: 900px;
  color: black;
  padding: 0 20px;
  box-sizing: border-box;     
}

h1 {
  font-family: 'Mitr', sans-serif;
  margin-top: 80px;
}

.Information table {
  margin: 50px auto;
}

.Information table td {
  font-family: 'Mitr', sans-serif;
  text-align: left;
  padding-bottom: 20px;
  max-width: 600px;
}

.TopicTable {
  /* font-weight: bold; */
  vertical-align: top;
  padding-right: 25px;
  color: rgb(134,128,53);
}

.active {
  color: rgb(164,158,93);

}

.Plan table {
  border-collapse: separate;
  border-spacing: 20px;
}

.gridTable {
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 0.9em;
  text-align: left;
}

.gridContainer {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-gap: 10px 50px;
  margin: 50px 0;
}

.planImage {
  width: 400px;
  height: 250px;
  margin-right: 50px;
  object-fit: cover;
}

.last {

  margin-right: 0;
}

.Location {
}

.MapContainer {
  width: 850px;
  height: 500px;
}
.colT{
  width:30%;
  float:left;
  min-height: 1px;
}

.colT p{
  font-weight: bold;
  color: rgb(134,128,53);
}

.colD{
  width: 70%;
  min-height: 1px;
  float:left;
}

.gridTable .colT{
  width: 50%;
}

.gridTable .colD{
  width: 50%;
  box-sizing: border-box;
  padding-left: 10px;
}

.colD ul{
  padding-left: 21px;
}

@media screen and (max-width: 950px){
  .CarouselImage {
    height: 500px;
  }
} 

@media screen and (max-width: 414px){
  .Container{
    max-width: 100vw;
    height: auto;
  }
  .gridContainer{
    grid-template-columns: 100%;
    margin:0;
  }
  .logoHeader{
    left:0;
    height: 65px;
  }
  .HeaderContainer{
    padding-left: 65.78px;
  }
  .colT,.colD,.colT p{
    width:100%;
    margin:0;
  }
  .colD p{
    margin:0;
    margin-bottom: 15px;
  }
  .planImage{
    width: 100%;
    margin:0;
  }
  .gridTable{
    grid-template-columns: 50% 50%;
  }
}

.DetailTable {
  padding-left: 20px;
}

.Information :not(h1){
  text-align: left;
}

